---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog - Jose Flores">
  <h1 class="mt-10 text-center text-white text-4xl">
    Hola, me encuentro en el blog
  </h1>
</Layout>

<style>
  .title {
    /*margin-top: 4em;
    text-align: center;
    color: white;
    */
  }

  /* @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer components {
    .title {
      @apply mt-10 text-center text-white text-4xl;
    }
  } */
</style>
