---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  class="bg-slate-100 text-dark
  text-sm md:text-regular px-3 py-1.5 rounded-md font-semibold
  flex gap-x-2 justify-center items-center h-fit w-fit
  hover:bg-slate-200"
  href={href}
  rel="noopener noreferrer"
  target="_blank"
>
  <slot />
</a>
