---
import CardContainer from "./CardContainer.astro";
import Divider from "./Divider.astro";
import Available from "./icons/Available.astro";
import GithubIcon from "./icons/Github.astro";
---

<CardContainer>
  <h3 class="text-xl font-bold mb-3">Detalles</h3>
  <p class="text-regular text-center">
    +2 años de experiencia. Ingeniero de Sistemas. Especializado en
    crear aplicaciones únicas. ✨
  </p>
  <Divider class="mt-5 mb-6" />
  <ul class="flex flex-col gap-4">
    <a
      class="flex gap-x-3 text-teal-500 hover:text-teal-500/80 transition ease-in-out duration-200"
      href="https://www.linkedin.com/in/jfloresxc/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <Available class="size-6" />
      <span class="text-regular">Disponible para trabajar</span>
    </a>
    <a
      class="flex gap-x-3 text-slate-700 dark:text-slate-200 font-semibold hover:text-slate-500 dark:hover:text-slate-400"
      href="https://github.com/JfloresXc"
      target="_blank"
      rel="noopener noreferrer"
    >
      <GithubIcon class="size-5" />
      <span class="text-regular">Github</span>
    </a>
  </ul>
</CardContainer>
