---
import MenuIcon from "./icons/Menu.astro";
const LINKS = [
  {
    name: "Experiencia",
    url: "/#experiencia",
  },
  {
    name: "Proyectos",
    url: "/#proyectos",
  },
  {
    name: "Sobre mí",
    url: "/#sobremi",
  },
];
---

<div class="relative">
  <button
    id="dropdownDefaultButton"
    data-dropdown-toggle="dropdown"
    class="bg-neutral-200 text-dark
    text-regular px-3 py-1.5 rounded-md font-semibold
    flex gap-x-2 justify-center items-center h-fit w-fit
    hover:bg-neutral-300"
    type="button"
  >
    <MenuIcon class="size-5" />
  </button>

  <div
    id="dropdown"
    class="z-10 absolute mt-3 bg-white divide-y divide-gray-100 rounded-lg shadow-2xl w-44 dark:bg-gray-700"
  >
    <ul
      class="py-2 text-sm text-gray-700 dark:text-gray-200"
      aria-labelledby="dropdownDefaultButton"
    >
      {
        LINKS.map(({ name, url }) => (
          <a
            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
            href={url}
          >
            {name}
          </a>
        ))
      }
    </ul>
  </div>
</div>
<script>
  const dropdownDefaultButton = document.getElementById(
    "dropdownDefaultButton"
  );
  dropdownDefaultButton.addEventListener("click", function () {
    const dropdown = document.getElementById("dropdown");
    dropdown.classList.toggle("hidden");
  });
</script>
