---
import CardContainer from "./CardContainer.astro";
import HeaderArticle from "./HeaderArticle.astro";
---

<section>
  <CardContainer>
    <article class="flex flex-col gap-y-3">
      <HeaderArticle startDate="2019" endDate="2024" />
      <p class="text-base">
        Mi nombre es <strong class="text-primary">Jose Flores</strong>
        pero en el mundo del desarrollo soy conocido como <strong
          class="text-primary">JfloresXc</strong
        > debido a un apodo gamer en mi adolescencia.
      </p>
      <p class="text-base">
        Inicié mi carrera como <strong class="text-primary"
          >desarrollador web</strong
        > en el año 2019. Para mí aprender a programar era más un deber
        debido a los mitos universitarios. Dentro de esta fui parte de
        <strong class="text-primary">Comutec</strong>
        , una comunidad en la cuál descubrí que debo utilizar más la <strong
          class="text-primary">lógica</strong
        >
        y la <strong class="text-primary">creatividad</strong> para tener
        grandes resultados.
      </p>
      <p class="text-base">
        Hoy en día, luego de 4 años, es una satisfaciente realidad que
        me dirigió a impulsar proyectos tanto personales como
        laborales. Además junto a la <strong class="text-primary"
          >IEEE Students Society Untels</strong
        >
        brindar ponencias, dar cursos, compartir tips para iniciantes como
        amigos y mucho más.
      </p>
    </article>
  </CardContainer>
</section>
